* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body {
    background: #293132;
    color: #FFFFFF;
    font-family: 'Roboto Condensed', sans-serif;
}

header {
    background: #FFFFFF;
    color: #293132;
    padding: 18px;
    text-align: center;
}

.hands {
    margin: auto;
    padding: 12px;
    display: block;
    text-align: center;
}
.literals {
    margin: auto;
    padding: 5px;
    display: block;
    text-align: center;
}

#select {
    padding: 10px;
    text-align: center;
    font-size: 30px;
}

#message {
    padding: 5px;
    text-align: center;
    font-size: 22px;
}

.hands svg {
    width: 20%;
    height: auto;
}
.literals svg {
    width: 7%;
    height: auto;
}

#hand-rock circle:active {
    fill: #8173AD;
}
#hand-scissor circle:active {
    fill: #FFD275;
}
#hand-paper circle:active {
    fill: #4DCE9B;
}

.scoreboard {
    margin: 1% auto;
    padding: 10px 15px;

    border: 3px solid #FFFFFF;
    border-radius: 5%;
    width: 256px;

    text-align: center;
    font-size: 60px;
    background: #FFC857;

    position: relative;
}

.name {
    padding: 3px 10px;
    font-size: 20px;
}

#score-text {
    padding-top: 20px;
    padding-bottom: 10px;
}

#p-label {
    position: absolute;
    top: 0;
    left: 0;

    width: 50%;

    background: #4DCE9B;
}

#comp-label {
    position: absolute;
    top: 0;
    right: 0;

    width: 50%;

    background: #65559B;
}

#game-reset {
    position: absolute;
    bottom: -31px;
    right: 24%;

    width: 50%;
    font-size: 20px;

    background: #293132;
    border: 3px solid #FFFFFF;
    border-radius: 5%;
}

#game-reset:active {
    color: #293132;
    background: #FFFFFF;
}

#game-results {
    text-align: center;
    font-size: 22px;
}

